@{
    ViewData["Title"] = "Informacion Asignatura";
    
}

<div>
    <h1>Asignaturas</h1>
    @foreach (var item in Model)
    {
        <partial name="_AsignaturaSimple" model="item"/>
    }
    

</div>
